<div clas="row">
    <div class="six columns offset-by-three">
        <div>
            <label>Merchant Name</label>
            <input class="u-full-width" type="text" x-ng-model="vm.paymentRequest.merchantId"/>
        </div>
        <div>
            <label>Merchant Name</label>
            <input class="u-full-width" type="text" x-ng-model="vm.paymentRequest.merchantName"/>
        </div>
        <div>
            <label>Transaction Amount</label>
            <input class="u-full-width" type="text" x-ng-model="vm.paymentRequest.tranAmount"/>
        </div>
        <div>
            <label>App Transaction Id</label>
            <input class="u-full-width" type="text" x-ng-model="vm.paymentRequest.appTranId"/>
        </div>
        <div>
            <label>Call Back URL</label>
            <input class="u-full-width" type="text" x-ng-model="vm.paymentRequest.callBackUrl" disabled/>
        </div>
        <div class="text-center">
            <button class="button" x-ng-click="vm.reset()">Reset</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button-primary" x-ng-click="vm.makePayment()">Make Payment</button>
        </div>
    </div>
</div>
