hr.hr-xtra-small {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

hr.hr-small {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

hr.hr-medium {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

.bg--off-white {
    background-color: rgba(250, 250, 250, .99);
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-info {
    color: blue;
}

.text-success {
    color: green;
}

.text-warning {
    color: orange;
}

.text-danger {
    color: red;
}

.m0 {
    margin: 0;
}

.mx0 {
    margin-left: 0;
    margin-right: 0;
}

.my0 {
    margin-top: 0;
    margin-bottom: 0;
}

.m1 {
    margin: 1rem;
}

.mx1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m2 {
    margin: 2rem;
}

.mx2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.p0 {
    padding: 0;
}

.px0 {
    padding-left: 0;
    padding-right: 0;
}

.py0 {
    padding-top: 0;
    padding-bottom: 0;
}

.p1 {
    padding: 1rem;
}

.px1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p2 {
    padding: 2rem;
}

.px2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

